# built application files
*.apk
*.ap_

# Java class files
*.class

# generated Dalvik bytecode
*.dex

# Windows
Thumbs.db

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# NDK generated
/obj